
<!DOCTYPE html>
<html><head>
    <meta charset="UTF-8">
    <title>Sobek Transit</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/nav.css">
    <link rel="stylesheet" href="../css/footer.css">
    <noscript><link rel="stylesheet" href="../css/noscript.css" /></noscript>
</head><body>
<div class="footer-dark">
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-3 item">
                    <h3>Hours and Service Info</h3>
                    <ul>
                        <li>Sun - Thurs <br> 6 a.m. - 5:30 p.m</li>
                        <li>help@sobektransit.com</li>
                    </ul>
                </div>
                <div class="col-sm-6 col-md-3 item">
                    <h3>Useful Links</h3>
                    <ul>
                        <li><a href="login.html">Forgot Password?</a></li>
                        <li><a href="form.html">Provide Feedback</a></li>
                        <li><a href="https://github.com/keshavbhateja/SobekTransitApi">API Documentation</a></li>
                    </ul>
                </div>
                <div class="col-md-6 item text">
                    <h3>Sobek Transit</h3>
                    <p>Developed as a project for CS 4704 with collaboration between Virginia Tech and Alamein International University</p>
                </div>
            </div>
            <div class="image-container">
                <img src="Footer.png" alt="Photo">
                
            </div>
            <p class="copyright">Sobek Transit © 2023
            </p>
        </div>
    </footer>
</div>
