li {
    list-style: none;
}
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    background-color: #242942;
    color: #fff;
}
/* NAVBAR STYLING STARTS */
    
    .nav-links a {
    color: #fff;
    }
    
    /* NAVBAR MENU */
    .menu1 {
    display: flex;
    gap: 1em;
    font-size: 18px;
    max-height: 5px;
    }
    
    /* .menu1 li:hover {
    background-color: #292429;
    border-radius: 2px;
    transition: 0.3s ease;
    } */
    
    .menu1 li {
    padding: 5px 5px;
    }

/* CSS */
.button-31 {
  background-color: transparent;
  border-radius: 2px;
  border-style: none;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "Farfetch Basis","Helvetica Neue",Arial,sans-serif;
  font-size: 12px;
  font-weight: 700;
  line-height: 1.5;
  margin: 0;
  max-width: none;
  min-height: 20px;
  min-width: 10px;
  outline: none;
  overflow: hidden;
  padding: 9px 20px 8px;
  position: relative;
  text-align: center;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
}

.button-31:hover,
.button-31:focus {
  opacity: .75;
  background-color: #222;
}
