/* general styles */
* {
	box-sizing: border-box;
}

body {
	font-family: sans-serif;
	margin: 0;
}

/* header styles
header {
	background-color: #203348;
	color: #FFFFFF;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 20px;
}

nav a {
	color: #FFFFFF;
	text-decoration: none;
	margin-right: 10px;
}

nav a:hover {
	text-decoration: underline;
} */

h1 {
	margin: 0;
	font-size: 32px;
}

/* main styles */
main {
	max-width: 800px;
	margin: 0 auto;
	padding: 20px;
}

h2 {
	margin-top: 40px;
	font-size: 28px;
	display: none;
}
form {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin: 20px;
	border: 1px solid #ccc;
	padding: 20px;
	border-radius: 5px;
  }
  
  label {
	margin: 10px 0;
	border: 1px solid #ccc;
	padding: 5px 10px;
	border-radius: 5px;
  }
  
  input[type="radio"] {
	display: none;
  }
  
  input[type="radio"] + label {
	cursor: pointer;
  }
  
  input[type="radio"]:checked + label {
	background-color: #4CAF50;
	color: white;
	border-color: #4CAF50;
  }
  
  input[type="submit"] {
	margin-top: 20px;
	padding: 10px 20px;
	background-color: #4CAF50;
	color: white;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	border: 1px solid #4CAF50;
  }
  
  input[type="submit"]:hover {
	background-color: #3e8e41;
  }

  select {
	font-size: 16px;
	font-family: Arial, sans-serif;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
  }
  
  select:focus {
	outline: none;
	border-color: #0077cc;
	box-shadow: 0 0 4px rgba(0, 119, 204, 0.4);
  }
  
  